{% extends 'Gestion_Inst/plantilla-back.html' %}
{% block header %}Ciclos Lectivos{% endblock %}
{% block principal %}

    <div class="panel panel-default">
        <div class="panel-heading">Lista</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Año</th>
                        <th>monto_cuota</th>
                        <th>Año</th>
                        <th>monto_inscripcion</th>
                        <th>fecha_inicio</th>
                        <th>fecha_fin</th>
                        <th>recargo</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in object_list %}
                        <tr>
                            <td>{{ server.id }}</td>
                            <td>{{ server.anio }}</td>
                            <td>{{ server.monto_cuota }}</td>
                            <td>{{ server.monto_inscripcion }}</td>
                            <td>{{ server.fecha_inicio }}</td>
                            <td>{{ server.fecha_fin }}</td>
                            <td>{{ server.recargo }}</td>
                            <td><a href="{% url "ciclo_edit" server.id %}">Editar</a></td>
                            <td><a href="{% url "ciclo_delete" server.id %}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <a href="{% url "ciclo_new" %}" class="btn btn-primary">Nuevo</a>
{% endblock %}